html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Poppins";
    font-size: 12px;
    overflow: hidden;
}

:root {
    --main: rgb(231, 19, 19);
}

#session {
    background-color: #151515;
    color: gray;
    padding: 15px;

    grid-row: 1 / 3;
    grid-column: 1;
}

.session-item {
    padding: 10px 0px;
    border-bottom: 1px solid #3D3D3D;

    cursor: default;
    transition: 0.1s;
}

.session-item:hover {
    /*transform: translateX(4px);*/
    background: rgb(28, 28, 28);
    border-radius: 0px;
}

#session-selected-item {
    border-bottom: 1px solid var(--main);
}

#session-selected-item .session-item-title {
    text-decoration: none;
}


.session-item img {
    width: 35px;
    height: 35px;
    position: absolute;
    display: inline-block;
    margin: 0px;
    border-radius: 4px;
}

.session-item-title {
    color: white;
    font-size: 13px;
    display: inline-block;
    margin: 0px;
    margin-top: -1px;
    margin-left: 45px;
}

.session-item-author {
    color: #A1A1A1;
    font-size: 12px;
    display: block;
    margin: 0px;
    margin-left: 45px;
    margin-top: -2px;
}

.session-item-author span:hover {
    text-decoration: underline;
}

.session-item-tag {
    display: block;
    text-align: right;
}

.session-item-tag span {
    padding: 5px 15px;
    border: 1px solid #585858;
    color: #585858;
    font-size: 9px;
    line-height: 12px;
    border-radius: 200px;
    display: inline-block;
    margin-top: -40px;
    margin-left: 10px;

    transition: 0.23s;
}

.session-item-tag span::before {
    content: "#";
}

.session-item-tag span:hover {
    background-color: var(--main);
    color: white;
    border-color: rgba(0, 0, 0, 0);
}

.session-item-tag span:hover::before {
    color: rgba(255, 255, 255, 0.6);
}

#session-name {
    color: white;
    display: block;
    margin: 0;
    font-size: 13px;

    line-height: 11px;
    height: 16px;
}

#session-path {
    margin: 0;
    line-height: 10px;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

#content {
    top: 0;
    height: 100vh;
    background-color: gray;
    display: grid;
    grid-template-rows: 43.75% 56.25%;
    grid-template-columns: minmax(325px, 400px) minmax(260px, auto) minmax(300px, auto);
}

#button-add-song {
    background-color: var(--main);
    color: white;
    font-size: 22px;
    display: block;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;

    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    transition: transform 0.18s ease-out;
}

#button-add-song:hover {
    transform: scale(1.05);
}

#editor {
    background-color: #131313;
    padding: 15px 25px;

    grid-row: 1 / 3;
    grid-column: 2;
}

.song-panel {
    margin: 0;
    margin-bottom: 20px;
}

.song-panel-title {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 13px;

    line-height: 9px;
    height: 14px;
}

.song-panel-title span::before {
    color: gray;
    content: "#";
}

.song-block {
    padding-top: 6px;
    margin-bottom: 7px;
    border-top: 1px solid #3D3D3D;

    transition: 0.3s;
}

.song-block:nth-of-type(1) {
    padding: 0;
    border: none;
}

.song-block p {
    margin: 0;
    font-size: 12px;
    line-height: 19px;
    color: #A1A1A1;
}

#selected-song-block {
    background-color: #1C1C1C;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 6px 10px;
    margin-left: -10px;
    border: none;
}

#quick-settings {
    background-color: #151515;

    grid-row: 2;
    grid-column: 3;
}

#preview {
    background-color: black;

    grid-row: 1;
    grid-column: 3;
}

#dragbar {
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 30px;
    z-index: 2;
    -webkit-app-region: drag;
}

#dragbar p {
    margin: 0;
    text-align: center;
    color: rgb(112, 112, 112);
    font-size: 10px;
    line-height: 10px;
    padding: 9px;
    font-family: sans-serif;
}

#dragbar p span {
    margin-left: 2px;
    color: rgb(75, 75, 75);
}

.dragbar-btn {
    -webkit-app-region: no-drag;
    top: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: rgb(58, 58, 58);
    margin-left: 10px;
}

#dragbar-btn-group {
    margin-top: -21px;
    height: 12px;
    display: inline-block;
    float: right;
    margin-right: 10px;
}